/* ----------------------------------------------------------------- */
header {
    margin-bottom: 5%;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
}
.mirror { 
    font-family: 'Londrina Outline', sans-serif;
    color: #FF2D00;
    font-size: 1.5em;
    display: inline-block;
    transform: scaleX(-1);
    -moz-transform: scaleX(-1); /* Firefox */
    -o-transform: scaleX(-1); /* Opera */
    -webkit-transform: scaleX(-1); /* Safari */
    filter: FlipH; /* IE 6-7-8 */
    -ms-filter: "FlipH"; /* IE */
}
h1 {
    margin: 10px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}
/* ----------------------------------------------------------------- */
.trip-suggestions{
    margin: 0;
    display: block;
    text-align: center;
    color: #EFEFEF;
}
/* ----------------------------------------------------------------- */
.post-btn {
    background-color: #278BFF;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
}
/* ----------------------------------------------------------------- */


/* ----------------------------------------------------------------- */
footer {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: #FFFFFF;
    text-align: center;
}